/vendor
/node_modules
/public/storage
/storage/*.key
/.env
/.env.backup
/.env.local
/.env.development
/.env.production
/.env.test
/.env.testing
/.vscode
/.idea
/.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log